---
title: Music
position: 1
---

<div class="row">
{% for album in site.albums %}
  <div class="col-sm-6 col-lg-4">
    <h3>{{ album.title }}</h3>
    <img class="img-responsive" src="{{ album.cover }}">
    <ul class="list-group">
    {% assign songs = site.songs | where: 'album', album.title | sort: 'position' %}
    {% for song in songs %}
      <li class="list-group-item">
        <p>{{ song.title }}</p>
        <ul class="list-inline">
          <li>
            <audio class="song-audio" src="{{ song.mp3 }}"></audio>
            <a href="#" class="song-toggle">
              <span class="play">
                <i class="fa fa-play"></i>
                <span class="sr-only">Play</span>
              </span>
              <span class="pause">
                <i class="fa fa-pause"></i>
                <span class="sr-only">Pause</span>
              </span>
            </a>
          </li>
          <li><a href="{{ song.mp3 }}">
            <i class="fa fa-download"></i>
            Download
          </a></li>
          <li><a href="{{ song.mp3 }}">
            <i class="fa fa-file-audio-o"></i>
            Instrumental
          </a></li>
          <li><a href="javascript:alert('{{ song.content }}');">
            <i class="fa fa-file-text-o"></i>
            Lyrics
          </a></li>
          <li><a href="javascript:alert('{{ song.content }}');">
            <i class="fa fa-file-text"></i>
            Chords
          </a></li>
        </ul>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endfor %}
</div>
