---
title: Story
position: 4

members:
- name: Serg Shemyakin
  bio: >
    I was born in Riga, Latvia. When I turned 6 my family moved to
    Odessa, Ukraine and later on to USA. At the age of 14 when I
    first grabbed a guitar and started playing I realized music was
    my destiny. I wrote and composed my first song
    “Years as the clouds” when I was 15 years old. My life and
    inspiration began when I gave my life to Christ; He led me
    through my darkest times. For me a song is like a cry from the
    heart. When thoughts hit my hands I start writing and composing.
- name: Aleksey Kapakly
  bio: >
    I’m from Odessa Ukraine. That's where Jesus Christ first found me
    and I promised to be faithful to Him. Also He gave me love for
    music and thankfully my closest friends, my brothers already
    started playing guitars and that's how our band started. Our goal
    is that His name will be praised through these songs and at least
    one soul would be touched by it.
- name: Vadim Kapakly
  bio: >
    I was born in Odessa, Ukraine. Music was always the life changing
    experience in my life. First, I hated it during my 5 years of
    piano lessons, and then was inspired by it. I am grateful to God,
    that my teenage years I was able to spend with my “CHANCE”
    brothers serving Christ and not my sinful nature.
- name: Viktor Okunev
  bio: >
    I was born in Russia. From beginning of 7th grade I started
    playing a Saxophone in jazz band. Growing up surrounded by church
    friends and attending lots of youth activities I participated
    singing in worship groups. In 1999 three musketeers from Odessa
    Serg, Vadim and Aleksey formed a music band and have invited me
    to join. Since then we are still together with one goal and one
    destiny to be an encouragement to the world.
---

<h2>Our Story</h2>
<p>
  The “Chance” band began its journey in 1996. Through their music
  they led many hearts to Christ. They use their lyrics to inspire
  the young generation of today’s times. Each and every one of the
  group member’s dedicated their hearts and souls to God. They formed
  an alliance between one another and brought their talents together
  to form something bigger than just a band but a brotherly
  friendship. Take the Chance and listen.
</p>

<div class="members">
  <div class="row">
  {% for member in page.members %}
    {% assign filename = member.name | split:' ' | first | downcase %}
    {% assign resolutions = '320x448 480x672 580x812 700x978 870x1218 1278x1790' | split:' ' %}
    {% capture args %}[resize:>{{ resolutions | first }}]{% endcapture %}
    {% capture photo %}story/{{ filename }}.jpg {{ args }}{% endcapture %}
    <div class="col-sm-6 col-md-3">
      <div class="member">
        <p>
          <img src="{{ photo | asset_path }}"
            srcset="
            {% for res in resolutions %}
              {% capture args %}[resize:>{{ res }}]{% endcapture %}
              {% capture photo %}story/{{ filename }}.jpg {{ args }}{% endcapture %}
              {{ photo | asset_path }} {{ res | split: 'x' | first }}w,
            {% endfor %}"
            sizes="
              (max-width: 669px) calc(100vw - 30px),
              (max-width: 789px) calc(50vw - 45px),
              (max-width: 1199px) calc(25vw - 45px), 263px"
            alt="{{ member.name }}" class="img-responsive">
        </p>
        <h3>{{ member.name }}</h3>
        <p class="member-bio">{{ member.bio }}</p>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
