#cfp {
  text-align: center;

  @media (max-width: $screen-xs-max) {
    margin-top: -70px;

    @media (orientation: landscape) {
      display: none;
    }
  }

  @media (min-width: $screen-sm-min) and (orientation: landscape) {
    max-width: 240px;
  }

  .carousel-indicators {
    bottom: -40px;

    li {
      background-color: #ddd;

      &.active {
        background-color: $brand-primary;
      }
    }
  }
}
