.album {
  margin: 40px 0 78px;
  position: relative;

  > .img-responsive {
    width: 100%;
  }
}

.song-item {
  position: static;
  background: rgba(255,255,255,0.75);
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0;

  &:last-child .song {
    border-bottom: 0;
  }
}

.song {
  @extend #music-toggle;

  padding-bottom: 10px;
  border-bottom: solid 1px rgba(0,0,0,0.05);

  .list-inline {
    position: relative;
    z-index: 1;
  }

  &.playing .song-progress {
    display: block;
  }
}

.song-controls {
  overflow: hidden;
  position: relative;
  margin: -10px -15px;
  padding: 10px 15px;
}

.song-progress {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  background: rgba(0,150,200,0.1);
}

.song-toggle {
  display: inline-block;
  min-width: 12px;
}

.lyrics,
.lyrics-title {
  color: #fff;
}

.lyrics {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  background: rgba(0,0,0,0.7);
  opacity: 0.00001;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  pointer-events: none;

  .content {
    overflow: hidden;
    padding: 15px;
  }
}

.song.playing .lyrics {
  opacity: 0.99999999;
  pointer-events: auto;

  .content {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
