$avatar-margin: 48px + (15px * 2);

.news-more {
  margin-bottom: 30px;
  text-shadow: 0 1px 5px rgba(0,0,0,0.5);

  a, a:link, a:visited { color: #fff; }
}

#twitter-feed {
  > ul {
    @extend .list-unstyled;

    > li {
      @extend .panel;
      @extend .panel-default;
      @extend .clearfix;
      padding: 15px;
      padding-left: $avatar-margin;
      background-color: rgba(255,255,255,0.9);
    }
  }

  a {
    @extend .truncate;
    display: inline-block;
    max-width: 100%;
  }

  [data-scribe="element:avatar"] {
    position: absolute;
    margin-left: -($avatar-margin - 15px);
    width: 48px;
    height: 48px;
  }

  .timePosted,
  [data-scribe="element:screen_name"] {
    @extend small;
    @extend .text-muted;
  }

  [data-scribe="element:name"] {
    font-weight: bold;
    color: $text-color;
  }

  [data-scribe="element:user_link"]:hover {
    text-decoration: none;

    [data-scribe="element:name"] {
      color: $link-hover-color;
      text-decoration: underline;
    }
  }

  .timePosted a,
  .interact a {
    color: lighten($gray-light, 20%);

    &:hover {
      color: $link-hover-color;
    }
  }

  .timePosted {
    float: right;
    margin-top: 3px;
    margin-bottom: 0;
  }

  .interact {
    float: left;
    margin-bottom: 0;

    > a {
      margin-right: 20px;
    }
  }
}
