$avatar-margin: 48px + 15px;

.news-more {
  margin-bottom: 30px;
  text-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

#twitter-feed {
  > ul {
    @extend .list-unstyled;

    > li {
      @extend .clearfix;
      padding-left: $avatar-margin;
      margin-bottom: $line-height-computed;
      border: 0;
    }
  }

  a {
    @extend .truncate;
    display: inline-block;
    max-width: 100%;
    vertical-align: bottom;
  }

  [data-scribe="element:avatar"] {
    position: absolute;
    margin-left: -($avatar-margin);
    width: 48px;
    height: 48px;
  }

  .timePosted,
  [data-scribe="element:screen_name"] {
    @extend small;
  }

  [data-scribe="element:name"] {
    font-weight: bold;
  }

  [data-scribe="element:user_link"] {
    text-decoration: none;

    &:hover [data-scribe="element:name"] {
      text-decoration: underline;
    }
  }

  .timePosted {
    float: right;
    margin-top: 3px;
    margin-bottom: 0;
  }

  .interact {
    float: left;
    margin-bottom: 0;

    > a {
      margin-right: 20px;
    }
  }
}
