<ul class="connect-social">
  {% for social in site.social %}
    <li><a href="{{ social[1] }}" target="_blank" class="square">
      <div class="content">
        <i class="fa fa-{{ social[0] }} fa-5x"></i>
      </div>
    </a></li>
  {% endfor %}
  <li><a href="mailto:{{ site.email }}" class="square">
    <div class="content">
      <i class="fa fa-envelope fa-5x"></i>
    </div>
  </a></li>
</ul>

<form accept-charset="UTF-8" class="connect-form" method="post"
  action="https://fh.hypernovastudio.com/{{ page.form_token }}">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="✓">
  </div>

  <h2 class="text-inverse">{{ page.heading }}</h2>

  <div class="form-group">
    <label class="control-label sr-only" for="email">{{ page.email }}</label>
    <div class="input-group input-group-lg">
      <input class="form-control" id="email" name="email" type="email"
        placeholder="{{ page.placeholder }}">
      <div class="input-group-btn">
        <button class="btn btn-chance" type="submit">
          <span class="sr-only">{{ page.sign_up }}</span>
          &#x27E9;</button>
      </div>
    </div>
  </div>
</form>

{% include footer.html %}
