<div id="cfp" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for slide in page.slides %}
      <li data-target="#cfp" data-slide-to="{{ forloop.index0 }}"
        {% if forloop.first %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for slide in page.slides %}
      <div class="item{% if forloop.first %} active{% endif %}">
        {{ slide }}
      </div>
    {% endfor %}
  </div>
</div>
