<div class="members">
  <div class="row"><div class="col-md-6"><div class="row">
  {% for member in page.members %}
    {% assign resolutions = '320x448 480x672 580x812 700x978 870x1218 1278x1790' | split:' ' %}
    {% capture args %}[resize:>{{ resolutions | first }}]{% endcapture %}
    {% capture photo %}story/{{ member.slug }}.jpg {{ args }}{% endcapture %}
    <div class="col-sm-6">
      <div class="member text-center">
        <p>
          <img src="{{ photo | asset_path }}"
            srcset="
            {% for res in resolutions %}
              {% capture args %}[resize:>{{ res }}]{% endcapture %}
              {% capture photo %}story/{{ member.slug }}.jpg {{ args }}{% endcapture %}
              {{ photo | asset_path }} {{ res | split: 'x' | first }}w,
            {% endfor %}"
            sizes="
              (max-width: 669px) calc(100vw - 30px),
              (max-width: 789px) calc(50vw - 45px),
              (max-width: 1199px) calc(25vw - 45px), 263px"
            alt="{{ member.name }}" class="img-responsive">
        </p>
        <h2>{{ member.name }}</h2>
        <div class="member-bio">{{ member.bio }}</div>
      </div>
    </div>
    {% if forloop.index == 2 %}
      </div></div><div class="col-md-6"><div class="row">
    {% endif %}
  {% endfor %}
  </div></div></div>
</div>
