<div class="jumbotron text-inverse text-center">
<h1>Free album with lyrics and instrumental version, available now.</h1>

<p>
  Chance band has a great desire to share with the world the love that flows
  through music. From day one we knew that we wanted to give our album away
  completely free of charge. Let this music bring you the joy that so often
  is needed in this world.
</p>

<p>
  <a href="https://soundcloud.com/chancebandmusic/sets/dot"
    target="_blank">
    Free Download</a>
  <a href="https://soundcloud.com/chancebandmusic/sets/dot"
    target="_blank">
    <i class="fa fa-2x fa-soundcloud"
      style="margin-left:18px;vertical-align:middle;"></i></a>
</p>
</div>
