<div class="song">
  <div class="song-controls clearfix">
    <div class="song-progress"></div>

    <ul class="list-inline pull-left">
      <li>
        <audio class="song-audio"
          src="{{ baseurl }}/songs/{{ song.slug }}.mp3"></audio>
        <a href="{{ baseurl }}/songs/{{ song.slug }}.mp3"
          class="song-toggle" title="Play/Pause">
          <span class="play">
            <i class="fa fa-play"></i>
            <span class="sr-only">Play</span>
          </span>
          <span class="pause">
            <i class="fa fa-pause"></i>
            <span class="sr-only">Pause</span>
          </span>
        </a>
      </li>
      <li>{{ song.name[page.lang] }}</li>
    </ul>

    <ul class="list-inline pull-right">
      <li><a href="{{ baseurl }}/songs/{{ song.slug }}.mp3" title="Download">
        <i class="fa fa-download"></i>
        <span class="sr-only">Download</span>
      </a></li>
      <li><a href="{{ baseurl }}/inst/{{ song.slug }}.mp3" title="Instrumental">
        <i class="fa fa-music"></i>
        <span class="sr-only">Instrumental</span>
      </a></li>
      <li><a href="{{ baseurl }}/chords/{{ song.slug }}.pdf" title="Lyrics/Chords">
        <i class="fa fa-file-text"></i>
        <span class="sr-only">Lyrics/Chords</span>
      </a></li>
      <!-- <li>Share</li> -->
    </ul>
  </div>

  <div class="lyrics">
    <div class="square">
      <div class="content">
        <h3 class="lyrics-title">{{ song.name.ru }}</h3>
        {{ song.content | markdownify }}
      </div>
    </div>
  </div>
</div>
