<footer class="site-footer">
  <div class="container-fluid">
    <div class="container-fluid container-fluid-inner">
      <p class="copyright pull-left">
        <img class="logo-footer" src="{% asset_path 'logo-footer.svg' %}"
          onerror="this.src='{% asset_path 'logo-footer.png' %}'">
        Copyright &copy; 2015 The Chance Band. All Rights Reserved.
      </p>
      <ul class="list-inline pull-right">
        <li><a href="/{{ page.lang }}/privacy-policy/">Privacy Policy</a></li>
        <li>|</li>
        <li>
          Design by
          <a href="http://sergshemyakin.com/" target="_blank">SERG</a>
        </li>
        <li>|</li>
        <li>
          Built by
          <a href="https://www.hypernovastudio.com" target="_blank">
            Hypernova Design Studio
          </a>
        </li>
        <li>|</li>
        <li>
          <a href="{{ site.donate | join: '&amp;' }}"
            id="donate" target="_blank">Donate</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
