<nav class="navbar navbar-inverse navbar-static-top navbar-affix" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggle-inner">
          <span class="icon-bar-wrapper icon-bar-wrapper-top">
            <span class="icon-bar icon-bar-top"></span>
          </span>
          <span class="icon-bar-wrapper icon-bar-wrapper-middle">
            <span class="icon-bar icon-bar-middle"></span>
          </span>
          <span class="icon-bar-wrapper icon-bar-wrapper-bottom">
            <span class="icon-bar icon-bar-bottom"></span>
          </span>
        </span>
      </button>
      <a class="navbar-brand" href="/{{ page.lang }}/#home">
        {{ site[page.lang].brand }}
      </a>
      {% include lang-links.html %}
      {% include player.html %}
    </div>

    <div class="collapse navbar-collapse" id="site-navbar">
      <div class="lang-and-donate">
        {% include lang-links.html %}
        <button class="btn btn-primary navbar-btn btn-donate"
          onclick="window.open(document.getElementById('donate').getAttribute('href'))">
          Donate
        </button>
      </div>

      <ul class="nav navbar-nav navbar-center">
        {% assign sections = site.sections | where: 'lang',page.lang | sort: 'position' %}
        {% for section in sections %}
        {% unless section.title %}{% continue %}{% endunless %}
          <li>
            <a href="/{{ page.lang }}/#{{ section.slug }}">
              {{ section.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
