<nav class="navbar navbar-default navbar-static-top navbar-affix" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#home">
        {{ site.title }}
      </a>
    </div>

    <div class="collapse navbar-collapse" id="site-navbar">
      <ul class="nav navbar-nav navbar-center">
        {% assign sections = site.sections | sort: 'position' %}
        {% for section in sections %}
          <li>
            <a href="#{{ section.title | downcase }}">
              {{ section.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
