$logo-width: 41px;
$logo-height: 17px;

.navbar-brand {
  text-indent: -100000px;

  width: ($logo-width + ($navbar-padding-horizontal * 2));
  height: (20px + ($navbar-padding-vertical * 2));

  background: asset-url("logo.png") no-repeat;
  background-image: asset-url("logo.svg"), none;
  background-position: center center;
  background-size: $logo-width $logo-height;

  opacity: 0.9999;

  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;

  &:hover {
    opacity: 0.5;
  }

  @media (min-width: 922px) {
    font-family: "StereoGothic-900", $font-family-base;
    font-size: 14px;

    text-indent: ($logo-width + ($navbar-padding-horizontal / 2));
    width: auto;
    background-position: $navbar-padding-horizontal center;
    text-transform: uppercase;
  }
}

.navbar-toggle {
  margin-left: 15px;
}
