.site-footer {
  background: #fff;
  font-size: 12px;
  padding: 40px 0;

  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.logo-footer {
  opacity: 0.25;
  margin-right: 15px;
  margin-top: -3px;
  float: left;
}
