.lang-and-donate,
.lang-links,
.btn-donate {
  float: right;
}

.btn-donate {
  border-radius: 4px;
  margin-left: 20px;
}

.navbar-header,
.navbar-collapse {
  .lang-links {
    > li {
      float: left;

      > a {
        font-size: 12px;

        &:before {
          content: "|";
          margin-right: 7px;
        }
      }

      &:first-child > a {
        padding-right: 7px;

        &:before {
          content: none;
        }
      }

      &:last-child > a {
        padding-left: 0;
      }
    }
  }
}

.navbar-header .lang-links {
  @media (max-width: 479px)                   { display: none; }
  @media (min-width: $grid-float-breakpoint)  { display: none; }

  margin: 5px 0;
}

.navbar-collapse {
  @media (min-width: 480px) and (max-width: $grid-float-breakpoint-max) {
    .lang-links { display: none; }
    .btn-donate { margin-right: 21px; }
  }

  @media (max-width: 479px) {
    .lang-and-donate {
      position: relative;
      z-index: 1;
    }

    .lang-links {
      padding-left: 0;
      padding-bottom: 0;

      > li {
        border-bottom: 0;
      }
    }

    .btn-donate {
      padding: 4px 8px;
      margin: 12px 32px 0 0;
      font-weight: 300;
    }

    @media (min-height: 441px) {
      &.in {
        max-height: 441px;
      }

      .navbar-center {
        padding-top: 36px;
      }
    }
  }
}
