.navbar-center {
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float:none;
}

@media (min-width: $screen-md) {
  .navbar-header {
    position: absolute;
  }
}

.navbar-affix {
  width: 100%;
  margin-bottom: 0;
  position: fixed;

  &.affix {
    position: fixed;
    top: 0;
  }

  &.affix-top {
    position: absolute;
    bottom: 0;
    top: auto;
  }
}
