.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar-inverse .navbar-music > li > a:focus {
  color: $navbar-inverse-link-color;
}

.navbar-music {
  > li > a {
    min-width: 50px;
    text-align: center;
  }

  @media (max-width: $grid-float-breakpoint-max) {
    margin: 0;
    padding-top: 5px;

    > li {
      display: table-cell;
      width: 1%;
    }
  }

  @media (min-width: $grid-float-breakpoint) {
    position: relative;
  }
}

#music-progress-bar {
  @extend .noselect;
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    background: rgba(255,255,255,0.25);
    width: 100%;
    margin-top: 5px;
  }
}

#music-progress {
  width: 0;
  height: 5px;
  background: rgba(lighten(saturate($brand-primary, 100%), 10%), 0.5);
  position: relative;
  margin-top: 5px;
}

#music-toggle {
  .play   { display: inline; }
  .pause  { display: none; }

  &.playing {
    .play   { display: none; }
    .pause  { display: inline; }
  }
}
