.sp-page {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
  width: 100%;

  > .container,
  > .container-fluid {
    padding-top: 70px;
  }
}

.sp-page-home {
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
