#fullpage {
  position: relative;

  .section {
    min-height: 100%;
  }
}

.sp-page {
  background-position: center center;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  position: relative;
  z-index: 101;

  &.affix {
    bottom: 0;
    position: fixed;
    z-index: 100;
  }

  > .container {
    padding-top: 70px;
  }
}

.sp-page-home     { background-image: url('../images/home.jpg'); }
.sp-page-music    { background-image: url('../images/music.jpg'); }
.sp-page-media    { background-image: url('../images/media.jpg'); }
.sp-page-story    { background-image: url('../images/story.jpg'); }
.sp-page-connect  { background-image: url('../images/connect.jpg'); }
