.jumbotron {
  background: none;
}

.text-inverse {
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #fff;
    font-weight: 400;
  }

  h1, .h1,
  h2, .h2,
  h3, .h3 {
    margin-bottom: ($line-height-computed * 1.65);
  }

  p {
    margin-bottom: $line-height-computed;
  }
}
